@{
    ViewData["Title"] = "About Us";
}

<section class="jumbotron text-center bg-white">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewData["Title"]</h1>
        <p class="lead text-muted">We are the DIS Group 2 in Prof. Clinton Daniel's Class of Disturbed Information Systems at USF.</p>
    </div>
</section>

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/img/sameera.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Sameera</h2>
            <p>Seeking Summer Internship in Data Analytics | Business Analytics | Business Intelligence</p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/img/vivek.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Vivek</h2>
            <p>Seeking Summer Internship in Data Analytics | Business Analytics | Business Intelligence</p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/img/alhasan.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Alhasan</h2>
            <p>Business and Data Analyst | Researcher and Educator at KFUPM</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. Market View <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/img/market.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. Stock View <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/img/stock.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. Stock Recommendation <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/img/recommendation.jpg" data-holder-rendered="true">
        </div>
    </div>
</div>