@{
    ViewData["Title"] = "About Us";
}

<section class="jumbotron text-center bg-white">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewData["Title"]</h1>
        <p class="lead text-muted">We are the DIS Group 2 in Prof. Clinton Daniel's Class of Disturbed Information Systems at USF.</p>
        <p>
            <a class="btn btn-primary my-2" href="#more">Learn more</a>
            <a class="btn btn-secondary my-2" href="https://github.com/ism6225-group/Assignment_ActiveCloudSite" target="_blank">GitHub</a>
        </p>
    </div>
</section>

<div class="container marketing" id="more">
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/img/sameera.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Sameera Prasad</h2>
            <p>Graduate Teaching Assistant at University of South Florida | Business Analytics | Business Intelligence</p>
            
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/img/vivek.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Vivekkumar Singh</h2>
            <p>Seeking Spring 2020 Internship in Data Analytics | Business Analytics | Business Intelligence</p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/img/alhasan.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Alhasan</h2>
            <p>Business and Data Analyst | Researcher and Educator at KFUPM</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Market View <span class="text-muted">Keeping you up to date.</span></h2>
            <p class="lead">Daily news about the market giving you a perfect overview of the current scenario. Insights about market sector performance making your investment game interesting.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/img/market.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Stock View <span class="text-muted">Amazing Insights.</span></h2>
            <p class="lead">Every new investor faces one challenge on the road to success, to find a way to keep track of their stock market investments effectively, and to do so without having to spend a fortune in the process. Here we are for your rescue.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/img/stock.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Stock Recommendation <span class="text-muted">Influencing investments.</span></h2>
            <p class="lead">Investors want to get expert suggestions about their stocks. Which Stock to buy, hold or sell can be a question in every investors mind. Hence, these recommendations will drive your decisions.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/img/recommendation.jpg" data-holder-rendered="true">
        </div>
    </div>
</div>