@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center bg-white">
    <div class="container">
        <h1 class="jumbotron-heading">Welcome to Assignment_ActiveCloudSite</h1>
        <p class="lead text-muted">The right place for ...</p>
    </div>
</section>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Market View</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Market News</li>
                    <li>Market Performance</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Get started</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Stocks Insights</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Stocks Charts</li>
                    <li>Stocks Quotes</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Let's go</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Stocks Recommendation</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>To buy </li>
                    <li>or to sell?</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Let's trade</button>
            </div>
        </div>
    </div>
    </div>